$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

html, body, .screen {
	width: 100%;
	height: 100%;
	background-color: #C1B9C2;
}

.container {
	padding: 50px;
}

.sidebar {
	width:0;
  	background-color:#7F6881;
  	height:100%;
  	display:inline-block;
  	position:relative;
  	left: 0;
  	animation: expandWidth 0.5s forwards ease-out;
}

@-webkit-keyframes expandWidth {
	to { width: 200px; }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector